.About {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #070707;
  overflow: hidden;
}

.visibleMotion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info {
  width: 750px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__headBear img {
  width: 220px;
}



.info__texts p {
  color: #d1d1d1;
  width: 350px;
  letter-spacing: 2px;
  line-height: 110%;
  margin: 20px 0;
}

.someTech {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.someTech__title > h3 {
  color: #ffffff;
  font-family: "Synkopy";
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 110%;
  width: 600px;
  text-align: center;
  margin: 5rem;
}

.someTech__logos {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.someTech__logos {
  width: 550px;
}

.someTech__logos--container svg {
  color: #ffffff;
  height: 3rem;
  width: auto;
  transition: all 0.3s ease-in;
}

.someTech__logos--container svg:hover{
  color: #8bd2e7;
  transition: all 0.3s ease-in;
}
