:root {
  --primary: #000000;
  --secondary: #02213618;
  --iconToggler: url(https://png.pngtree.com/element_our/20190601/ourmid/pngtree-menu-icon-image_1344445.jpg );
}

.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(135deg, var(--primary), var(--secondary)),
    url("../media/homBg.jpg");
  z-index: 5;
}

/* Caja */

.Box {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fdfdfd;
  margin: 0 30px;
  padding: 0 70px;
}

/* Header */

.Header {
  display: flex;
  justify-content: space-between;
}



/* .navbar-toggler-icon{
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  background-image: var(--iconToggler);
} */

.Header ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.Header ul li {
  list-style: none;
  color: #fdfdfd;
  transition: all 0.2s ease-in;
}

.Header ul li:hover {
  cursor: pointer;
  color: #8bd2e7;
  transition: all 0.2s ease-in;
}

.Header ul li a {
  color: #fdfdfd;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.Header ul li a:hover {
  color: #8bd2e7;
  text-decoration: none;
  transition: all 0.2s ease-in;
}


.Logo {
  margin: 0;
  padding: 1rem 0;
  color: #fdfdfd;
}

/* TEXTS */

.Box__texts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  height: 250px;
}

.Title {
  color: #8bd2e7;
  font-size: 48px;
  font-family: "Synkopy";
  letter-spacing: 2px;
  margin: 0 0 -30px 0;
}

.copys {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copys > p {
  color: #fdfdfd;
  letter-spacing: 2px;
  margin: 0;
  width: 70%;
}

.CTA {
  display: inline-block;
  color: #fdfdfd;
  text-align: center;
  width: 7rem;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fdfdfd;
  transition: all 0.2s ease-in;
}

.CTA:hover {
  border: 1px solid #8bd2e7;
  cursor: pointer;
  color: #8bd2e7;
  transition: all 0.2s ease-in;
}

/* Links Redes */

.linksRedes {
  display: flex;
  width: 232px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.linksRedes li a {
  color: #fdfdfd;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.linksRedes li a:hover {
  color: #8bd2e7;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 480px) {
  .Home {
    height: 100vh;
    min-width: 320px;
    width: 100%;
  }

  .Box {
    justify-content: space-between;
    align-items: flex-start;
    min-width: 180px;
    padding: 30px;
  }

  .Header ul {
    display: none;
  }

  .Box__texts {
    justify-content: space-between;
    height: 450px;
    width: 100%;
    min-width: 150px;
  }

  .Title {
    font-size: 2.3rem;
    min-width: 150px;
  }

  .copys {
    height: 170px;
  }

  .copys p {
    font-size: 0.8rem;
    width: auto;
  }

  .Box__texts .CTA {
    width: auto;
  }

  .linksRedes {
    display: none;
  }
}

@media screen and (max-width: 389px) {
  .copys {
    height: 220px;
  }
}
