
.swiper{
    width: auto;
    position: relative;

}

img {
    height: 400px;
    width: 500px;
    border-radius: 150px;
    margin-bottom: 5rem;
}


.swiper-scrollbar-drag{
    background-color: #8bd2e7;
}   