.Works {
    height: 102vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image:
    linear-gradient(135deg, #181818a6, #1215182a), 
    url("../media/works.jpg");
    background-size: cover;
}


.texts{
    color: #fdfdfd;
    width: 600px;
}

.texts h3{
    font-family: "synkopy";
    font-size: 36px;
    letter-spacing: 2px;
}

.texts p{
    font-family: "CabinetGrotesk";
    letter-spacing: 2px;

}

